h1
{
  color: DarkRed;
  text-decoration: underline DarkMagenta;
}

body 
{
	background-color: purple;
}
h3
{
	text-decoration: underline OrangeRed;
	color: red;
}

h4
{
color: YellowGreen;
}